/* 
    Created on : 26/04/2023, 8:35:28 p. m.
    Author     : Brayan
*/

a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}

.bg-login-image{
    background: url("../img/motos-login.png");
    background-position: center;
    background-size: cover;
}